- content_for :head do
  = javascript_include_tag "jquery.flot"

%h2 Stats

%h3 Last 500 commits

%h4 Number of assertions
#assertions{ :style => "width:700px;height:300px;"}

%h4 Number of tests_failing
#tests_failing{ :style => "width:700px;height:300px;"}

%h4 Test suites run times
#run_times{ :style => "width:700px;height:300px;"}

-# IMPROVE: DRY

:javascript
  $(function () {

   var assertions = #{@assertions.to_json};
   $.plot($("#assertions"), assertions, {
     yaxis: { min: 0 },
     xaxis: { tickDecimals: 0 },
     legend: { position: 'nw' }
   });

   var tests_failing = #{@tests_failing.to_json};
   $.plot($("#tests_failing"), tests_failing, {
     yaxis: { min: 0 },
     xaxis: { tickDecimals: 0 },
     legend: { position: 'nw' }
   });

   var run_times = #{@run_times.to_json};
   $.plot($("#run_times"), run_times, {
     yaxis: { min: 0 },
     xaxis: { tickDecimals: 0 },
     legend: { position: 'nw' }
   });

  });

