$clean-color: #EAF7D9
$ok-color: #FFF5CC
$pending-color: #EEEEEE
$fail-color: #FEEBEB
$running-color: #E8F6FF

table.last_runs
  tr
    &.state_running.details
      display: table-row
      text-align: left
    &.state_finished
      &.details
        display: none
      td.info
        .time
          display: inline
        .spinner
          display: none
    &.state_running td.info
      .time
        display: none
      .spinner
        display: inline
    &.details
      .current_test_unit
        font-size: 10px
      &.tu_state_ok
        background-color: #EAF7D9
      &.tu_state_waiting
        background-image: image-url("ajax_inline.gif")
        background-repeat: no-repeat
        background-position: right
        padding-left: 40px
      &.tu_state_fail
        background-color: #FEEBEB

.latest_commits_mini
  float: right
  margin: 2px
  height: 20px
  min-height: 20px
  width: 5px
  padding: 0px
  font-size: 3px
  font-weight: bold
  color: #aaa
  border: 1px solid #aaa

.commit, .build_state
  &.running
    border: 1px solid darken($running-color, 20%)
    background-color: $running-color
  &.clean
    .state_name
      color:  darken($clean-color, 50%)
    border: 1px solid darken($clean-color, 20%)
    background-color: $clean-color
  &.ok
    .state_name
      color:  darken($ok-color, 50%)
    border: 1px solid darken($ok-color, 20%)
    background-color: $ok-color
  &.pending
    border: 1px solid darken($pending-color, 20%)
    background-color: $pending-color
  &.fail, &.preparation_failed
    .state_name
      color:  darken($fail-color, 50%)
    border: 1px solid darken($fail-color, 20%)
    background-color: $fail-color
.workers tr.dead
  opacity: 0.5

.orange
  color: orange
  font-weight: bold

.red
  color: red
  font-weight: bold

.green
  color: green
  font-weight: bold
