body {
  font-family: Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
  font-size: 12px;
}


table {
  color:#333333;
  border-width: 1px;
  border-color: #666;
  border-collapse: collapse;
}
table th {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: #666;
}
table td {
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: #666;
}

table.last_runs {
  width: 100%;
}

table.last_runs tr.state_running.details {
  display: table-row;
  text-align: center;
}

table.last_runs tr.state_finished.details {
  display: none;
}

table.no_border {
  border-width: 0px;
}

table.no_border td {
  border-width: 0px;
}

#header {
  border: 1px solid #ddd;
  border-width: 0px 0px 1px 0px;
}
#header .title {
  font-size: 30px;
  font-weight: bold;
}

#header h1 {
  padding: 3px;
}

#menu ul li {
  display: inline;
  padding: 10px;
}

#menu ul {
  display: inline;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#sidebar .section {
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 30px;
}

#sidebar {
  float:left;
  width:215px;
  margin-right:0;
  background-color: #eee;
}
#content {margin-left:232px; overflow:visible;}

/*
  #cols {position:relative; margin:15px 0; padding-right:15px; }
  html>body #sidebar {margin-right:20px;}
  html>body #content {margin-left:0; overflow:hidden;}
*/

/* project show */
.branch_title .name {
  float: left;
  font-size: 160%;
  margin-right: 10px;
}
.branch_title {
  /*border-bottom: 2px solid #aaa;*/
  min-height: 30px;
}

.project_state {
  width: 48%;
  float: left;
}

.about {
  width: 48%;
  float: right;
  text-align: right;
}

.keyvalue .value {
  text-align: right;
  font-weight: bold;
}
.keyvalue .key {
  text-align: right;
}

.commit_next {
  float: right;
}

.commit {padding:10px; padding-left:20px; min-height: 80px;}

.commit ul.errors .blame {
  display: none;
}

.commit ul.errors li:hover .blame {
  display: inline;
}

/* WRITE YOUR CSS CODE HERE */
.msg.warning {border:2px solid #F2DD8C; background-color:#FFF5CC;}
.msg.warning a {color:#df0000;} .msg.warning a:hover, .msg.warning a:active, .msg.warning a:focus {color:#303030;}
.commit.running {border:2px solid #B8E2FB; background-color:#E8F6FF;}
.commit.clean {border:2px solid #BBDF8D; background-color:#EAF7D9;}
.commit.ok {border:2px solid #F2DD8C; background-color:#FFF5CC;}
.commit.pending {border:2px solid #AAAAAA; background-color:#EEEEEE;}
.commit.fail {border:2px solid #FFAEAE; background-color:#FEEBEB;}
.commit.preparation_failed {border:2px solid #FFAEAE; background-color:#FEEBEB;}

.build_state.running {border-color: #B8E2FB; background-color:#E8F6FF;}
.build_state.clean {border-color: #BBDF8D; background-color:#EAF7D9;}
.build_state.ok {border-color: #F2DD8C; background-color:#FFF5CC;}
.build_state.pending {border-color: #AAAAAA; background-color:#EEEEEE;}
.build_state.fail {border-color: #FFAEAE; background-color:#FEEBEB;}
.build_state.preparation_failed {border-color: #FFAEAE; background-color:#FEEBEB;}

.latest_commits_mini {
  float: right;
  margin: 2px;
  height: 20px;
  min-height: 20px;
  width: 5px;
  padding: 0px;
  font-size: 3px;
  font-weight: bold;
  color: #aaa;
  border: 1px solid #aaa;
}

.commit .clean {
  font-size: 1.5em;
  color: green;
}
.commit tt {
  font-size: 1.2em;
  font-weight: bold;
}
.commit .fail {
  font-size: 1.5em;
  color: red;
}

.commit .preparation_failed {
  font-size: 1.5em;
  color: red;
}

.commit .pending {
  font-size: 1.5em;
  color: #888;
}
.commit .ok {
  font-size: 1.5em;
  color: #e7b900;
}

.commit .running {
  font-size: 1.5em;
  color: #0085CC;
}
.orange {
  color: orange;
  font-weight: bold;
}
.red {
  color: red;
  font-weight: bold;
}
.green {
  color: green;
  font-weight: bold;
}

.commit .title a {
  color: black;
}


/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:80%; width:90%; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(/images/modal_x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
