.padding.box
  %p#btn-create.box
    = link_to '#' do
      %span Add new something

%ul.box
  - if @project
    = menu_li "Projent info", :controller => '/projects', :action => 'show'
    = menu_li  "Latest commits", :controller => '/commits', :action => 'index', :project_name => @project.name
    -#%ul
      -#%li
        -#= link_to 'lorem', '#'
      -#%li
        -#= link_to 'lorem', '#'

  = menu_li "Latest test runs", :controller => '/test_suite_runs', :action => 'index'


-#.padding.box
  -#%h2 Workers

-#%ul.box
  -#%li
    -#= link_to 'lorem', '#'
  -#%li
    -#= link_to 'lorem', '#'
