#menu
  Projects:
  %ul
    - projects.order('name').all.each do |project|
      - if project == @project
        %li.active
          %span= @project.name
      - else
        %li
          = link_to :action => :show, :controller => '/projects', :project_name => project.name do
            %span= project.name

