#menu
  Projects:
  %ul
    - projects.order('name').all.each do |project|
      - if project == @project
        %li.active
          %span= @project.name
      - else
        %li
          = link_to project do
            %span= project.name

